.ContadorLikes_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ContadorLikes_botones {
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
  justify-content: space-around;
}

.ContadorLikes_likes,
.ContadorLikes_dislikes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.ContadorLikes_likes img,
.ContadorLikes_dislikes img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ContadorLikes_likes span,
.ContadorLikes_dislikes span {
  font-weight: bold;
}