.listado_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listado_container h3 {
  align-self: flex-start;
}

.listado_botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.listado_containerNumeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 0;
}
