.galeria_carteles {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
}

.galeria_cartel{
		margin: 10px;
		border: 2px solid #b1b1b1;
		border-radius: 5px;
		width: 300px;
		object-fit: cover;
}

.galeria_galeria {
		margin-top: 20px;
		display: flex;
		flex-direction: column;

}