.peliculas_titulo_seccion {
  font-size: 24px;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
}

.peliculas_lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: space-evenly; 
  list-style: none;
}

.peliculas_item {
  display: flex;
  flex-direction: column; 
  width: 300px; 
  margin-bottom: 10px;
}

.peliculas_cartel {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(78, 78, 78, 0.856);
  cursor: pointer;
}

.peliculas_cartel:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(141, 109, 2, 0.637);
}

.peliculas_nombre {
  color: #91620b;
  cursor: pointer;
}

.peliculas_nombre:hover {
  text-decoration: underline;
  color: #d8910d;

}