.contenedor_cabecera{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.cabecera_cabecera {
  width: 100%;
}

.cabecera_logo {
  align-self: flex-end;
}

.cabecera_menu {
  justify-self: flex-end;
}

.cabecera_menu .menu_nav {
  box-shadow: none;
}

