.cabecera_cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #230b3f;
  height: 12vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.cabecera_logo img {
  cursor: pointer;
  justify-self: center;
  width: 150px;
}

.cabecera_menu {
  justify-self: flex-end;
  align-self: self-end;
}

.cabecera_menu .menu_nav {
  box-shadow: none;
  background-color: inherit;

}

