.menu_nav {
    top: 50px; 
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(99, 99, 99, 0.918);
}

.menu_lista {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.menu_elemento {
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.menu_elemento:hover {
    color: #ffee04;
}

.menu_nav.menu_vertical {
    position: sticky;
    border-radius: 12px;
}

.menu_nav.menu_vertical .menu_lista {
    flex-direction: column;
}

.menu_nav.menu_vertical .menu_elemento:hover{
    background-color: #f0f0f0;
}

.contenedor_menu{
    justify-content: center;
}

