#root {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  text-align: center;
  border: 2px solid blue;
}

.contenedor_contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.contenedor_principal {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

