#root {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #36dd0d;
  background-color: #ececec;
  box-sizing: border-box;
}

.contenedor_contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.contenedor_principal {
  flex: 1;
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  color: black;
}

