body {
	display: flex;
	flex-direction: column;
	background-color: lightslategray;
}

.contenedor-piezas {
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
}

#piezas {
	list-style: none;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: center;
	max-width: 1100px;
	box-shadow: 0 0 10px rgba(247, 247, 247, 0.596);
	border-radius: 20px;
	background-color: #FFF;
}

.pieza {
	display: block;
	height: 125px;
	width: 200px;
}

#tablero {
	border: 2px solid black;
	height: 373px;
	width: 598px;
	border-collapse: collapse;
	table-layout: fixed;
	justify-self: center;
	background-color: #FFF;
	box-shadow: 0 0 20px rgba(247, 247, 247, 0.596);
}

.soltable{
	border: 1px solid black;
	height: 125px;
	width: 200px;
	padding: 0;
}
.contenedor-reinicio {
	margin-top: 20px;
	align-self: center;
}

.casilla-correcta {
	border: 2px solid rgb(44, 219, 9)
}

.casilla-incorrecta {
	border: 2px solid rgb(189, 8, 8)
}

.resuelto{
	border:none !important;
}

button {
	border: 2px solid #800000;
	background-color: #c00000;
	padding: 10px;
	border-radius: 20px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 0 10px  #000000;
}
button:hover {
	background-color: #ff0000;
	box-shadow: 0 0 20px  #000000;
	height: 40px;
}