.matricula_botones {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.matricula_listado {
    display: flex;
    justify-content: center;
    width: 100%;
}

.matricula_listado ul {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.matricula_listado ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.matricula_desmatricular {
    font-size: 13px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: #d33d3d;
    color: white;
    cursor: pointer;
    margin-left: 16px;
}