.contenedor_peliculaDetalle {
    display: flex;
    flex-direction: column;
    margin: 0 1vh;
    padding: 0;
}

.contenedor_peliculaDetalle h1 {
    margin-top: 0;
    font-size: 3em;
    color: #222;
}

.peliculaDetalle_pelicula {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

.peliculaDetalle_pelicula > img {
    width: 30vw;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.767);
}

.peliculaDetalle_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
		align-items: flex-start;
}

.peliculaDetalle_info p {
    margin: 10px 0;
    font-size: 1.1rem;
}
