.contenedor_personajeListado {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 1vh;
		justify-content: center;	
}
.personajeListado {
		margin: 1vh;
		width: 5vw;
		height: 5vh;
		padding: 2.5vh;
		border-radius: 90px;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.personajeListado:hover {
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.personajeListado a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
		font-size: 1.1em;
		color: #333;
}