.contenedor_personajeListado {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 1vh;
		justify-content: center;	
}
.personajeListado {
		margin: 1vh;
		width: 4vw;
		height: 5vh;
		padding: 2.5vh;
		border-radius: 90px;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
		cursor: pointer;
}

.personajeListado:hover {
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.personajeListado span {
		font-size: 1.2vw;
		color: #333;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

}