.contenedor_listado_vehiculos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.vehiculo_detalles {
	background-color: #f9f9f9;
	border-radius: 8px;
	margin: 0.5rem 0;
	padding: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}