.contenedor-general {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contenedor-colores {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lista-colores {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	border-radius: 20px;
	box-shadow: 2px 2px 5px grey;
	padding: 0;
	flex-wrap: wrap;
}

.lista-colores li {
	border: 1px solid black;
	margin: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	cursor: pointer;
}

.lista-colores li.activo {
	width: 15px;
	height: 15px;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	align-self: center;
	transition: 0.2s;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.432);
}

.lista-colores li:hover {
	transform: scale(1.2);
	transition: 0.4s;
}

td {
	width: 10px;
	height: 10px;
}

td.preciso {
	width: 9px;
	height: 9px;
	border: 1px solid black;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
}