.peliculasDetalle_personajes {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 4vh;
		justify-content: center;	
}
.peliculasDetalle_personaje {
		margin: 10px;
		width: 120px;
		height: 120px;
		padding: 2.5vh;
		border-radius: 90px;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.peliculasDetalle_personaje:hover {
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.peliculasDetalle_personaje a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
		font-size: 1.2em;
		color: #333;
}

