.contenedor_peliculas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contenedor_peliculas h2 {
		font-size: 2.5rem;
		color: #333;
        margin: 0.1vw;
}