.contenedor_peliculas{
	display: flex;
	flex-wrap: wrap;
	max-width: fit-content;
	justify-content: space-around;
	padding: 2vh;
}

.peliculas_tarjeta {
	width: 40vh;
	margin: 1.5vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: 0.3s;
}

.peliculas_tarjeta:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.contenedor_cartel img {
	width: 40vh;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.peliculas_titulo {
	font-size: 24px;
	font-weight: bold;
}

.peliculas_titulo p {
	margin: 0.3em 0;
}