.contenedor_personajeDetalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
}

.contenedor_personajeDetalle h1 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 2rem;
  border-bottom: 2px solid #000000;
  text-align: center;
  width: 100%;
}

.contenedor_personajeDetalle input {
  width: 5vw;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}


.vehiculos_personaje {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.boton_atras {
  cursor: pointer;
  align-self: start;
}
