#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.contenedor_contenedor {
    display: flex;
    flex-direction: column;
    border: 6px solid #0085ad;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 1280px;
    min-height: 100vh;
}

.contenedor_principal {
    display: flex;
    flex-direction: row; 
    flex: 1; 
}