.peliculas_peliculas .pelicula_pelicula {
  display: flex;
  flex-direction: row; /* Coloca los elementos en una fila */
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no caben */
  align-items: flex-start; /* Alinea los elementos al principio */
  gap: 20px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.peliculas_peliculas .pelicula_imagen {
  flex: 0 0 300px;
  margin: 0;
}


.peliculas_peliculas .pelicula_contenido {
  flex: 1; 
  min-width: 300px; 
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  align-items: flex-start;
    text-align: left;
}


