.invalido {
		border: 2px solid red;
}
.oculto {
		display: none;
}
.error {
		color: rgb(255, 255, 255);
		background-color: rgb(255, 0, 0);
		font-weight: bold;
		font-size: 1.2em;
		list-style: none;
}

.exito {
		color: rgb(255, 255, 255);
		background-color: rgb(0, 128, 0);
		font-weight: bold;
		font-size: 1.2em;
}