.boton_inicio {
  all: unset;
  width: fit-content;
  padding: 8px 20px;
  background-color: #4ba53f;
  color: white;
  border: none;
  border-radius: 50px;
	align-self: center;
	margin: 10px;
}

.boton_inicio:hover {
	background-color: #36dd0d;
	cursor: pointer;
	color: white;
}
