.contenedor_footer {
    margin-top: auto;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.footer_footer {
  background-color: #c0c0c09f;
  color: #000000;
  font-size: 14px;
  text-align: center;
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
}