.contenedor_footer {
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer_footer {
  background-color: #c0c0c09f;
  color: #000000;
  font-size: 14px;
  text-align: center;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
}