.contenido_contenido {
  margin-top: 5px; 
  margin-bottom: 5px; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border: 6px solid #0085ad;
  color: black;
  width: 90%;
  max-width: 1250px;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  min-height: 600px;
}