.contenido-principal {
  display: grid;
  grid-template-areas:
    "btnlista btnproductos"
    "cabecera filtros"
    "lista productos";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr;
  gap: 1vh 1vw;
  height: 100%;
  overflow: hidden;
}

.nav-opciones {
  grid-column: 1 / 3; 
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.nav-opciones span {
  cursor: pointer;
  color: #4ba53f;
  width: fit-content;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: -1.2px 0.5px 1px #4b4b4b;
}

.nav-opciones span:hover {
  text-decoration: underline;
}

.contenido-listado {
  grid-area: lista;
}

.contenido-productos {
  grid-area: productos;
}

.filtros-productos {
  grid-area: filtros;
  grid-row: 2;
}
