body{
		font-family: Arial, sans-serif;
		margin: 20px;
		background-color: #f0f0f0;
}

.campo-invalido {
		border: 4px solid red;
		border-radius: 5px;
}

.error li{
		list-style: none;
		background-color: rgba(247, 50, 50, 0.459);
		padding: 5px;
		color: rgb(0, 0, 0);
}

.oculto {
		display: none;
}

.exito {
		color: green;
		font-weight: bold;
		margin-top: 10px;
}
legend {
	background-color: rgba(255, 160, 122, 0.521);
	border: 2px solid black;
	border-radius: 20px;
	padding: 5px;
}

#contenedorDiscos {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#tablaDiscos {
		border: 2px solid black;
		width: 90%;
		border-collapse: collapse;
		table-layout: auto;
}

#tablaDiscos th, #tablaDiscos td {
		border: 1px solid black;
		padding: 5px;
		text-align: center;
		width: fit-content;
}


#tablaDiscos th {
		background-color: lightgray;
}

#mostrar {
		margin-right: 30px;
}

.borrar {
		background-color: rgb(252, 96, 96);
		color: white;
		border: none;
		padding: 10px 15px;
		border-radius: 4px;
		cursor: pointer;
}

.borrar:hover {
		background-color: rgb(206, 0, 0);
		transition: 0.3s;
}

.caratula {
		width: 50px;
		height: 50px;
		border-radius: 4px;
}

.formulario {
		margin: auto;
		display: flex;
		gap: 15px;
		flex-direction: column;
}
.formulario fieldset {
		border: 2px solid black;
		border-radius: 5px;
		padding: 10px;
		background-color: antiquewhite;
}
.formulario input{
		margin-bottom: 10px;
		padding: 5px;
		margin-left: 5px;
		margin-right: 10px;
}