.Contenedor_contenedor {
    border: 6px solid #ad1400;
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
    width: 90%;
    color: black;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

p {
    text-align: left;
    color: #ad1400;
    margin-bottom: 10%;
    font-size: 20px;
}