.contenedor_contenedor {
    display: flex;
    flex-direction: column;
    border: 6px solid #0085ad;
    margin: 20px auto;
    color: black;
    background-color: #f9f9f9;
    border-radius: 5px;
}

