.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  animation: l14 4s infinite;
  margin: 50px auto;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: red red #0000 #0000;
  mix-blend-mode: darken;
  animation: l14 1s infinite linear;
}
.loader::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}
@keyframes l14{ 
  100%{transform: rotate(1turn)}
}