.campo-invalido {
	border: 2px solid red;
}

form {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: auto;
	gap: 1rem;
}
fieldset {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
label {
	display: block;
	text-align: left;
	font-weight: bold;

}
input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem;
	font-size: 1rem;
	display: block;
}
legend {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	display: flex;
}

select {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.5rem;
	font-size: 1rem;
	display: block;
}

.botonForm {
	background-color: #d8910d;
	color: white;
	border: none;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}
.botonForm:hover {
	background-color: #f3b034;
	cursor: pointer;
}

.insertarDisco-botones {
	display: flex;
	justify-content: space-evenly;
}
.oculto {
	display: none;
}

.exito {
	color: green;
	font-weight: bold;
	text-align: center;
}
