.campo-invalido {
	border: 2px solid red;
}

.insertarDisco-container {
	display: flex;
	width: 90%;
  justify-content: center;
}

form {
	gap: 10px;
	width: 600px;
}

fieldset {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

label {
	display: block;
	text-align: left;
	font-weight: bold;
	font-size: large;

}
input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: medium;
}

legend {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
	display: flex;
	background-color: #e9e9e9;
	padding: 5px 10px;
	border-radius: 10px;

}

select {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	display: block;
	font-size: medium;
}

.botonForm {
	background-color: #d8910d;
	color: white;
	border: none;
	padding: 15px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}
.botonForm:hover {
	background-color: #f3b034;
	cursor: pointer;
}

.insertarDisco-botones {
	display: flex;
	justify-content: space-evenly;
}
.oculto {
	display: none;
}

.exito {
	color: green;
	font-weight: bold;
	text-align: center;
}
