.container-listarDiscos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.listarDiscos-buscar {
    display: flex; 
    gap: 10px;
    justify-content: center;
}

.listarDiscos-resultados {
    margin-top: 20px;
    display: flex;
    width: 100%; 
    justify-content: center; 
    flex-wrap: wrap;
}


.listarDiscos-disco {
	margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.438);
    width: 250px;
}

.buscarInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
}

.botonLimpiar {
    padding: 10px 20px;
    background-color: #db930e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonLimpiar:hover {
    background-color: #f3b034;
}

.botonBorrar {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonBorrar:hover {
    background-color: #960c1a;
}